body {
    font-family: Arial, sans-serif;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.education-logo {
    width: 50px;
    position: relative;
    float: left;
    margin-right: 15px;
}

.social-link img {
    width: 30px;
}

@media (max-width: 992px) {
    .profile-img {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}

@media (max-width: 576px) {
    .profile-img {
        width: 100px;
        height: 100px;
    }
}
